.goods__section
{
    display: flex;
    flex-direction: column;
    margin: 80px 370px 10px 370px;
    background-image: url(..//imgs/goods.svg);
}
.goods__section_row
{
    display: flex;
    gap: 20px;
}
.cards__name
{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    color: #2e363e;
    padding: 50px 89px 12px 44px;
}
.cards__descryption
{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e363e;
    padding: 0px 90px 24px 44px;
}
.cards__price
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #434b53;
    padding: 0px 220px 14px 44px;
}
.g__button.g__button_cards
{
    margin: 0px 173px 50px 44px;
    padding: 20px 40px;
    width: 163px;
    height: 68px;
}

.any__cake-section
{

    background-image: url(..//imgs/telephone_bg.svg);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}
.any__cake-section-img
{
    margin-top: 300px;
    display: flex;
}
.any__cake-section-info
{
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}
.info__button.any__cake-section-button
{
    padding: 10px 18px;
    margin-bottom: 24px;
    max-width: 226px;
    max-height: 37px;
}   
.any__cake-section-text
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 24px;
}
.any__cake-section-descryption
{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 40px;
}
.g__button.g__button-any
{
    padding: 30px 50px;
}

.baker__section
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}
.info__button.info__button-baker
{
    padding: 10px 18px;
    max-width: 191px;
    max-height: 37px;
}
.baker__section-human
{
    display: flex;
    margin: 14px 378px 12px 0px;
}
.baker__section-info
{
    display: flex;
    flex-direction: column;
    margin: 97px 20px 96px 362px;
}
.baker__section-text
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #2e363e;
}
.baker__section-descryption
{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2e363e;
}.g__button.baker__button
{
    padding: 30px 50px;
    max-width: 299px;
    max-height: 88px;
}

.rating__section
{
    background-image: url(..//imgs/rates.svg);
    padding-top: 1px;
}
.rating__section-block
{
    background-color: #fff;
    display: flex;
    gap: 54px;
    margin: 116px 385px 444px 385px;
    justify-content: center;
    padding: 70px 143px;
    border-radius: 5px;
}
.rating_section-quotes
{
    max-width: 40px;
    max-height: 40px;
    margin-bottom: 24px;
}
.rating__section-info
{
    display: flex;
    flex-direction: column;
}
.rating__section-human
{
    display: flex;
    flex-direction: column;
}
.rating__section_text
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
    margin-top: 252px;
}
.rating__section-text
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 143%;
    color: #2e363e;
    margin-bottom: 24px;
}
.rating__section-descryption
{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 170%;
    color: #2e363e;
    margin-bottom: 24px;
}
.rating__section-link
{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #4a94ff;
    text-decoration: dotted;
}
.rating__section-humanname
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    text-align: center;
    color: #2e363e;
}
.rating__section-humanfrom
{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #a6aeb6;
}

.instagramm_rating_section-text
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #2e363e;
}
.instagramm_rating_section-descyption
{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 143%;
    text-align: center;
    color: #2e363e;
}
.instagramm_rating_img-wr
{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.instagramm_rating_img
{
    display: flex;
    gap: 9px;
}
.instagramm_rating_section-text-wr
{
    display: flex;
    flex-direction: column;
}
.instagramm_rating-img-block
{
    display: flex;
}
.instagramm_rating_section
{
    background-image: url(..//imgs/Галерея.svg);
}